@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body html{
    width: 100vw;
}

header{
    background-color: #F23545;
    height: 150px;
    width: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header > img{
    height: 110px;
    margin-bottom: 2px;
}

header > p{
    align-self: center;
    color: white;
}

menu{
background-color: #F23545;
height: 25px;
}

menu > a{
    color: white;
    text-decoration: none;
padding: 5px;
padding-bottom: 15px;

}

menu > a:hover{
    background-color: rgba(255, 255, 255, 0.57);
    color: #F23545;
}

main > iframe{
    width: 97vw;
    height: 100vh;
}
